@import "palette.scss";

#colorsGroup > div {
	margin: 48px;
	border-radius: 12px;
	display: inline-block;
}

#colorsGroup {
	overflow: hidden;
	border-radius: 12px;
}

p.headline {
	font-family: $product;
	font-size: 14px;
	font-weight: 600;
}

div {
	margin: 8px;
}

.neutralsGroup {
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: 24px;
}

.successGroup {
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: 24px;
}

.warningGroup {
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: 24px;
}

.dangerGroup {
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: 24px;
}

.brandGroup {
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: 24px;
}

.accentGroup {
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: 24px;
}

.neutralsBase {
	background-color: $neutralsBase;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals10 {
	background-color: $neutrals10;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals20 {
	background-color: $neutrals20;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals30 {
	background-color: $neutrals30;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals40 {
	background-color: $neutrals40;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals50 {
	background-color: $neutrals50;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals60 {
	background-color: $neutrals60;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals70 {
	background-color: $neutrals70;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals80 {
	background-color: $neutrals80;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals90 {
	background-color: $neutrals90;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.neutrals100 {
	background-color: $neutrals100;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.successBase {
	background-color: $successBase;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success10 {
	background-color: $success10;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success20 {
	background-color: $success20;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success30 {
	background-color: $success30;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success40 {
	background-color: $success40;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success50 {
	background-color: $success50;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success60 {
	background-color: $success60;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success70 {
	background-color: $success70;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success80 {
	background-color: $success80;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success90 {
	background-color: $success90;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.success100 {
	background-color: $success100;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warningBase {
	background-color: $warningBase;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning10 {
	background-color: $warning10;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning20 {
	background-color: $warning20;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning30 {
	background-color: $warning30;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning40 {
	background-color: $warning40;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning50 {
	background-color: $warning50;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning60 {
	background-color: $warning60;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning70 {
	background-color: $warning70;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning80 {
	background-color: $warning80;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning90 {
	background-color: $warning90;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.warning100 {
	background-color: $warning100;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.dangerBase {
	background-color: $dangerBase;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger10 {
	background-color: $danger10;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger20 {
	background-color: $danger20;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger30 {
	background-color: $danger30;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger40 {
	background-color: $danger40;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger50 {
	background-color: $danger50;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger60 {
	background-color: $danger60;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger70 {
	background-color: $danger70;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger80 {
	background-color: $danger80;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger90 {
	background-color: $danger90;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.danger100 {
	background-color: $danger100;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accentBase {
	background-color: $accentBase;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent10 {
	background-color: $accent10;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent20 {
	background-color: $accent20;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent30 {
	background-color: $accent30;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent40 {
	background-color: $accent40;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent50 {
	background-color: $accent50;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent60 {
	background-color: $accent60;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent70 {
	background-color: $accent70;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent80 {
	background-color: $accent80;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent90 {
	background-color: $accent90;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.accent100 {
	background-color: $accent100;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brandBase {
	background-color: $brandBase;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand10 {
	background-color: $brand10;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand20 {
	background-color: $brand20;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand30 {
	background-color: $brand30;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand40 {
	background-color: $brand40;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand50 {
	background-color: $brand50;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand60 {
	background-color: $brand60;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand70 {
	background-color: $brand70;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand80 {
	background-color: $brand80;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand90 {
	background-color: $brand90;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}

.brand100 {
	background-color: $brand100;
	height: 40px;
	width: 96px;
	border-radius: 4px;
}
